/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    font-family: "Lexend", serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: olivedrab;
}

.wrapper{
    width: 500px;
    background-color: transparent;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.8);
}
.wrapper h1{
    font-size: 40px;
    color: white;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border: none;
    margin:  30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, 0.4);
    border-radius: 40px;
    padding-left: 30px;
    color: #ffff;
}

.input-box input::placeholder{
    color: #ffff;
    font-size: 16px;
}

.input-box i{
    color: #ffff;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.remember-forget{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.remember-forget label{
    color: #ffff;
    
}

.remember-forget label input{
    margin-right: 10px;
}

.remember-forget a{
    color: #ffff;
    text-decoration: none;
}

.remember-forget a:hover{
    color: black;
    text-decoration: underline;
}

.btn{
    font-size: 24px;
    font-weight: 500;
    width: 100%;
    height: 45px;
    background-color: #ffff;
    border: none;
    outline: none;
    border-radius: 20px;
    margin: 10px 0;
    cursor: pointer;
}

.register-link{
    color: #ffff;
    text-align: center;
    padding: 15px 0;
}

.register-link a{
    color: black;
    margin-left: 10px;
    text-decoration: none;
}

.register-link a:hover{
    color: #03f84d;
    text-decoration: underline;
}